<p>This is an
  <a
    href="https://github.com/JanMalch/ngx-material-table-mediator/blob/master/src/app/placeholder/placeholder.component.ts">
    implementation</a>
  of a table displaying <a href="https://jsonplaceholder.typicode.com/">JSONPlaceholder</a> data
  with the <a href="https://npmjs.com/package/ngx-material-table-mediator"><b>ngx-material-table-mediator</b></a>
  library.<br/>
  JSONPlaceholder returns one big array, so the client side has to do pagination and sorting!
  Filtering is taken care of via URL parameters.</p>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>


  <div class="filter">
    <input #query placeholder="postId">
    <button mat-raised-button color="primary" (click)="trigger$.next(query.value)">SEARCH NOW</button>
    <code>https://jsonplaceholder.typicode.com/comments{{ !!query.value && query.value.length > 0 ? '?postId=' +
      query.value : '' }}</code>
  </div>
  <div class="example-table-container">

    <!-- notice you dont have to add the dataSource -->
    <table mat-table class="example-table"
           matSort [matSortActive]="columns[0]" matSortDisableClear matSortDirection="asc">
      <ng-container *ngFor="let col of columns"
        [matColumnDef]="col">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col }}</th>
        <td mat-cell *matCellDef="let row">{{row[col]}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>

  <mat-paginator [pageSizeOptions]="[10, 25, 30, 50, 100]" [pageSize]="30" showFirstLastButtons></mat-paginator>
</div>
