
.filter {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.filter input {
  border: 1px solid #dddddd;
  border-radius: 2px;
  outline: none;
  background: #eeeeee;
  padding: 8px;
  width: 300px;
  height: 20px;
}

button {
  margin: 0 16px;
}

code {
  padding: 4px;
  border-radius: 2px;
  background: #eeeeee;
}
