<p>This is an
  <a href="https://github.com/JanMalch/ngx-material-table-mediator/blob/master/src/app/git-hub/git-hub.component.ts">
    implementation</a> of
  <a href="https://material.angular.io/components/table/examples"><b>"Table retrieving data through HTTP"</b></a>
  with the <a href="https://npmjs.com/package/ngx-material-table-mediator"><b>ngx-material-table-mediator</b></a>
  library.<br/>
  GitHub provides the option to sort by "Created", so the client side doesn't have to do this (not every column works).
  Every call returns exactly 30 items and the total length of available items.</p>

<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="(isLoading$ | async) || (isRateLimitReached$ | async)">
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached$ | async">
      GitHub's API rate limit has been reached. It will be reset in one minute.
    </div>
  </div>

  <div class="example-table-container">

    <!-- notice you dont have to add the dataSource -->
    <table mat-table class="example-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="asc">
      <!-- Number Column -->
      <ng-container *ngFor="let col of columnLabels | keyvalue"
                    [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ col.value }}</th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="col.key === 'created_at'; else noDate">
            {{row[col.key] | date}}
          </ng-container>
          <ng-template #noDate>
            {{row[col.key]}}
          </ng-template>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
<!-- GitHub doesn't provide pageSize options -->
  <mat-paginator [pageSizeOptions]="[30]" [pageSize]="30"></mat-paginator>
</div>

<button mat-raised-button color="primary" (click)="trigger$.next(undefined)">SEARCH NOW</button>
